# Web Framework
fastapi
uvicorn[standard]

# Database (SQLAlchemy + Async Driver)
sqlalchemy
asyncmy
pymysql
aiomysql

# Config & Validation
pydantic-settings

# AI & Image Processing
ultralytics
opencv-python
numpy
Pillow

# Data Processing & Utils
pandas
rapidfuzz
requests
httpx
python-multipart