# Web Framework
fastapi
uvicorn[standard]

# Database (SQLAlchemy + Async Driver)
sqlalchemy
asyncmy

# Config & Validation
pydantic-settings
python-dotenv

# AI & Image Processing
ultralytics
opencv-python-headless
numpy
Pillow

# Data Processing & Utils
pandas
rapidfuzz
requests
httpx
python-multipart